<div>

    <h2 translate="onlineExamSystemApp.test1.home.title">Test1</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveTest1Modal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="onlineExamSystemApp.test1.home.createLabel">Create a new Test1</span>
    </button>
    <div class="modal fade" id="saveTest1Modal" tabindex="-1" role="dialog" aria-labelledby="myTest1Label"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="create()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myTest1Label" translate="onlineExamSystemApp.test1.home.createOrEditLabel">Create or edit a Test1</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="test1.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="onlineExamSystemApp.test1.testname">Testname</label>
                            <input type="text" class="form-control" name="testname"
                                   ng-model="test1.testname">

                            <div ng-show="editForm.testname.$invalid">
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="onlineExamSystemApp.test1.password">Password</label>
                            <input type="text" class="form-control" name="password"
                                   ng-model="test1.password">

                            <div ng-show="editForm.password.$invalid">
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="onlineExamSystemApp.test1.fullName">FullName</label>
                            <input type="text" class="form-control" name="fullName"
                                   ng-model="test1.fullName">

                            <div ng-show="editForm.fullName.$invalid">
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="onlineExamSystemApp.test1.createTime">CreateTime</label>
                            <input type="datetime-local" class="form-control" name="createTime"
                                   ng-model="test1.createTime" ng-model-options="{timezone: 'UTC'}">

                        </div>
                        <div class="form-group">
                            <label translate="onlineExamSystemApp.test1.laseUpdateTime">LaseUpdateTime</label>
                            <input type="datetime-local" class="form-control" name="laseUpdateTime"
                                   ng-model="test1.laseUpdateTime" ng-model-options="{timezone: 'UTC'}">

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteTest1Confirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(test1.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="onlineExamSystemApp.test1.delete.question" translate-values="{id: '{{test1.id}}'}">Are you sure you want to delete this Test1?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="onlineExamSystemApp.test1.testname">Testname</th>
                    <th translate="onlineExamSystemApp.test1.password">Password</th>
                    <th translate="onlineExamSystemApp.test1.fullName">FullName</th>
                    <th translate="onlineExamSystemApp.test1.createTime">CreateTime</th>
                    <th translate="onlineExamSystemApp.test1.laseUpdateTime">LaseUpdateTime</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="test1 in test1s">
                    <td><a ui-sref="test1Detail({id:test1.id})">{{test1.id}}</a></td>
                    <td>{{test1.testname}}</td>
                    <td>{{test1.password}}</td>
                    <td>{{test1.fullName}}</td>
                    <td>{{test1.createTime}}</td>
                    <td>{{test1.laseUpdateTime}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="test1Detail({id:test1.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(test1.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(test1.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a>&lt;</a></li>
                <li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
                <li class="active"><a>{{page}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 2}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
